form {
	@include flex-center;
	flex-direction: column;
	width: 100%;
	.text-inputs {
		display: flex;
		width: 50%;
	}
	// input {
	// 	// width: 170px;
	// 	// margin: 10px 0px;
	// }
	.pricing {
		display: flex;
		align-items: center;
		width: 50%;
		padding-top: 1%;
		h2 {
			padding-right: 1%;
		}
		// flex-direction: row;
		.price {
			display: flex;
			align-items: center;

			width: 15%;
			// padding-right: 2%;
			input {
				margin: 0;
				width: 25%;
			}
		}
	}
	.open {
		width: 50.3%;
		display: flex;
		align-items: center;
		padding-top: 1%;
	}
	button {
		background-color: #c41200;
		color: white;
		border-radius: 53px;

		border-color: #c41200;
		width: 15%;
		font-size: 1.4rem;
	}
}

ul {
	@include flex-center;
	flex-direction: column;
	li {
		display: flex;
		flex-direction: column;
		width: 75%;
		padding: 10px;
		border: solid 1px black;
		@include bp-med {
			flex-direction: row;
		}
		.review-container {
			display: flex;
			width: 100%;
			.info-container {
				display: flex;
				flex-direction: column;
				width: 80%;
				@include bp-med {
					width: 70%;
				}
				.heading-container {
					// @include flex-center;
					display: flex;
					flex-direction: column-reverse;

					a {
						text-decoration: none;
						color: black;
						padding-bottom: 2.5%;
						h2 {
							font-size: 2rem;
						}
					}
					.stats-container {
						padding-bottom: 2.5%;

						span {
							padding-right: 3%;
							font-size: 1.5rem;
						}
					}
				}
				.cat-container {
					padding-bottom: 2.5%;
				}
			}
			span {
				padding-bottom: 2.5%;
			}
			img {
				object-fit: cover;
				min-width: 250px;
				min-height: 250px;
				max-width: 250px;
				max-height: 250px;
				border: solid 1px black;

				background-color: #eee;
				@include bp-med {
					margin-left: 20px;
					min-width: 250px;
				}
			}
		}
	}
}
#map {
	border: 1px solid black;
	height: 400px;
	width: 90%;
	margin: 1rem auto;
}
